.search-container {
    text-align: center;
    margin-bottom: 10px;
}

.w-80 {
    width: 80%;
}

.search-button {
    color: black;
    background-color: #ffc107;
    border-color: #ffc107;
    cursor: pointer;
    line-height: 1.5;
    border-radius: .25rem;
}